<template>

    <section >
        <Header />
        <LeftNav />
        <div class="admin_wrapper">
            
            <div class="admin_servises">
                <div v-for="key in 6" class="admin_servises_item">
                    <img src="https://исгу.рф/materials/photo/37/1.jpg" alt="">
                    <p class="item_name">Редактирование сотрудников</p>
                </div>
            </div>

            <div class="admin_settings">
                <a href="#">Инструкции по работе с порталом</a>
                <a href="#">Настройки портала</a>
            </div>
        </div>
    </section>

</template>

<script>
    import Header from '@/components/Header'
    import LeftNav from '@/components/LeftNav'

export default {
    name: 'AddressBook',
    data () {
        return {

        }
    },
    methods: {

    },
    components: {
        Header: Header,
        LeftNav: LeftNav
    }
}
</script>

<style>

    .admin_wrapper{
        padding-left: 20%;
        display: flex;
        justify-content: space-between;
    }
    .admin_servises{
        width: 68%;
        font-size: 1.11em;
        display: flex;
        flex-wrap: wrap;
        margin: 2em -0.43em;
    }
    .admin_servises_item{
        width: calc(25% - 0.86em);
        margin: 0.43em;
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        border: 1.33721px solid #CACACA;
        border-radius: 10.6977px;
    }
    .admin_servises_item img{
        border: 0;
        border-radius: 100%;
        width: 3em;
        height: 3em;
    }
    .admin_servises_item .item_name{
        padding: 2em 1em;
        line-height: 130%;
    }

    /* блок с инструкциями, настройкой админки*/
    .admin_settings{
        width: 30%;
        margin-top: 4em;
        padding: 0 2em;
        line-height: 2em;
        font-size: 1.11em;
    }

    

</style>



