<template>

    <section >
        <Header />
        <LeftNav />
        <div class="admin_wrapper">
            <div class="admin_servises">
                <div v-for="item in servises" v-on:click="buttonLink(item.url)" class="admin_servises_item">
                    <img :src='getImgUrl("assets/img/icons/" + item.img)' alt="">
                    <p class="item_name">{{ item.name }}</p>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Header from '@/components/Header'
    import LeftNav from '@/components/LeftNav'

export default {
    name: 'Admin',
    data () {
        return {
            servises: [{'name': 'Редактирование сотрудников', 'img': 'icon_user.svg', 'url': 'AllNews'},
                    {'name': 'Создание новостей', 'img': 'icon_news.svg', 'url': ''},
                    {'name': 'Структура организаций', 'img': 'icon_structure.svg', 'url': '#'},
                    {'name': 'Список сервисов', 'img': 'icon_services.svg', 'url': '#'},
                    {'name': 'Инструкция по работе с порталом', 'img': 'icon_instruction.svg', 'url': '#'},
                    {'name': 'Настройки портала', 'img': 'icon_settings.svg', 'url': '#'},
                    {'name': 'Штатное расписание', 'img': 'icon_news.svg', 'url': '#'},
            ]

        }
    },
    methods: {
        getImgUrl(pic) {
            return require('../' + pic);
        },
        buttonLink(url, a) {
            //this.$router.push({name: url, params: {id: a} });
            this.$router.push({ name: url });
        },

    },
    components: {
        Header: Header,
        LeftNav: LeftNav
    }
}
</script>

<style>

    .admin_wrapper{
        padding-left: 20%;
        display: flex;
        justify-content: space-between;
    }
    .admin_servises{
        width: 83%;
        font-size: 1.11em;
        display: flex;
        flex-wrap: wrap;
        margin: 2em -0.43em;
    }
    .admin_servises_item{
        width: calc(20% - 0.86em);
        margin: 0.43em;
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        border: 1.3px solid #CACACA;
        border-radius: 10px;
    }
    .admin_servises_item:hover{
        border: 1.3px solid #454958;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }
    .admin_servises_item img{
        width: 3em;
        height: 3em;
    }
    .admin_servises_item .item_name{
        padding: 2em 1em;
        line-height: 130%;
    }
    

</style>



