<template>

    <section >
        <Header />
        <LeftNav />

        <p class="total_news allnews_wrapper">Всего 245 записей</p>
        <div class="allnews_list allnews_wrapper">
            <div v-for="key in 6" class="news_item">
                <div class="ratio">
                    <div class="ratio-inner ratio-8-9">
                        <div class="ratio-content">
                            <img src="https://исгу.рф/materials/photo/37/1.jpg">
                        </div>
                    </div>
                </div>
                <div class="allnews_info">
                    <p class="news_date">11 ноя.</p>
                    <p class="news_caption">Управление госслужбы и кадровой работы приглашает желающих на занятия калланетикой</p>
                    <a class="news_read" href="/allnews/1">Читать полностью &#8250;</a>
                </div>
            </div>
        </div>
        <div class="pagination_wrapper allnews_wrapper">
            <jw-pagination :items="news" :pageSize="8" :maxPages="6" @changePage="onChangePage" :disableDefaultStyles="true"></jw-pagination>
        </div>

    </section>

</template>

<script>
    import Header from '@/components/Header'
    import LeftNav from '@/components/LeftNav'

export default {
    name: 'AllNews',
    data () {
        return {
            news: ['123', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123']
        }
    },
    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },

    },
    components: {
        Header: Header,
        LeftNav: LeftNav
    }

}
</script>

<style>
    .total_news, .pagination_wrapper{
        padding: 2em 0 0.5em 0;
        color: #9599A9;
    }
    .allnews_wrapper{
        padding-left: 20%;
    }
    .allnews_list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.43em;
        padding-right: 4em;
    }
    .allnews_list .news_item{
        width: calc(50% - 0.86em);
        margin: 0.43em;
        height: 13.6em;
        background: #FFFFFF;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 7px;
        display: flex;
        overflow:hidden;
    }
    .allnews_list .news_date,
    .allnews_list .news_read{
        font-size: 0.88889em;
        color: #9599A9;
    }
    .allnews_list .news_read{
        margin-top: auto;
    }
    .allnews_list .news_caption{
        font-weight: 500;
        font-size: 1.111em;
        line-height: 1.3em;
        padding: 1em 0 1.3em;
        width: 80%;
    }
    .allnews_info{
        width: 60%;
        padding: 1.2em;
        display: flex;
        flex-direction: column;
    }
    .news_date{
        font-size: 0.88889em;
    }
    .news_caption{
        font-weight: bold;
    }
    /*позиционирование картинки*/
    .ratio {
        width: 40%;
        overflow:hidden;
    }
    .ratio-inner {
        position: relative;
        height: 0;
        border: none;
    }
    .ratio-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .ratio-8-9 {
        padding-top: 103%;
    }
    .ratio-8-9 img {
        border-radius: 1%;
        height: 100%;
        margin-top: -5%;
        margin-left: -33%;
        position: relative;
        width: auto;
    }

    
</style>



