<template>
    <section >
        <Header />
        <LeftNav />
        <p class="birthday_wrapper birthday_today">4 янв. 2020</p>
        <div class="birthday_wrapper">
            <div v-for="key in 6" class="birthday_list">
                <img src="https://исгу.рф/materials/photo/37/1.jpg" alt="">
                <p class="birthday_item_name">Иванов Иван Иванович</p>
                <p class="birthday_item_position">Помощник (советник) первого заместителя главы администрации Липецкой области</p>
                <p class="birthday_item_mail">wegegehbeb.@mail.ru</p>
                <p class="birthday_item_phone">8 (800) 999-75-05</p>
            </div>
        </div>
    </section>
</template>

<script>
    import Header from '@/components/Header'
    import LeftNav from '@/components/LeftNav'

    export default {
        name: 'Birthday',
        data () {
            return {

            }
        },
        methods: {

        },
        components: {
            Header: Header,
            LeftNav: LeftNav
        }
    }
</script>

<style>
    .birthday_wrapper{
        padding: 1em 0 0.8em 20%;
        display: flex;
        flex-direction: column;
    }
    .birthday_today{
        font-size: 1.4em;
        font-weight: bold;
        color: rgba(71, 75, 90, 0.5);
    }
    .birthday_list{
        width: 95%;
        display: flex;
        justify-content: space-between;
        line-height: 1.3em;
        margin: 0.6em 0;
        color: rgba(71, 75, 90, 0.5);
    }
    .birthday_list img{
        border: 0;
        border-radius: 100%;
        width: 3em;
        height: 3em;
    }
    .birthday_item_name, .birthday_item_position,
    .birthday_item_mail, .birthday_item_phone{
        display: flex;
        align-items: flex-start;
        padding: 0 1em;
    }
    .birthday_item_name{
        width: 15%;
        color: #474B5A;
    }
    .birthday_item_position{
        width: 38%;
    }
    .birthday_item_mail{
        width: 24%;
    }
    .birthday_item_phone:before{
        content: url(../assets/img/icons/phone_sm.svg);
        padding-right: 1em;
        padding-top: 0.1em;
    }
    .birthday_item_mail:before{
        content: url(../assets/img/icons/mail_sm.svg);
        padding-right: 1em;
        padding-top: 0.1em;
    }

</style>



