<template >
    <div class="wrapper" >


        <LeftNav />
        <section v-if="!loading" class="cours__content_edit">
            <p class="pageTitle">{{ response.name }}</p>
            <div class="pageBreadcrumb"><router-link :to="{name: 'Courses'}">Список курсов</router-link> &gt; {{ response.name }}</div>

            <form  @submit.prevent="formrequestCours()" id="mainform" >

                <div class="info__wrapper">
                    <p class="caption_input">Статус: {{arr_status[response.status]}}</p>

                    <select v-model="response.status" class="text_select" @change="onChangStatus($event)" required>
                        <option :value="0">{{arr_status[0]}}</option>
                        <option :value="1">{{arr_status[1]}}</option>
                    </select>

                </div>


                <div id="id_category" class="info__wrapper">
                    <p class="caption_input">Категория</p>
                    <p v-if="categoryedit" class="category_but_edit" v-on:click="categoryedit=!categoryedit">X</p>
                    <p v-else class="category_but_edit" v-on:click="categoryedit=!categoryedit">редактор</p>

                    <select v-if="!categoryedit" v-model="response.category" class="text_select" @change="onChangeCategory($event)" required>
                        <option v-for="cat in category" :value="cat.id">{{ cat.name }}</option>
                    </select>

                        <div v-if="categoryedit" class="category_item" v-for="(name, key) in category">
                            <input  :class="name.status == 'default'? 'text_input' : 'text_input edit__input'" v-model="name.name" @input="updateStatusCategory(key)" @change="updateStatusCategory(key)">
                            <p v-if="name.status == 'default'" class="category_del" v-on:click="modalDeleteCategory(key)">удалить</p>
                            <p v-if="name.status == 'update'" class="category_del" v-on:click="requestCategory('update', 'https://xn--c1aj1aj.xn--p1ai/api/content/update_category.php', { id: name.id, name: name.name }, key)">сохранить</p>
                            <p v-if="name.status == 'add'" class="category_del" v-on:click="requestCategory('add', 'https://xn--c1aj1aj.xn--p1ai/api/content/add_category.php', { name: name.name }, key)">сохранить</p>
                        </div>
                        <div v-if="categoryedit" class="button button_blue" v-on:click="category.push({id: '', name: '', status: 'add'})">Добавить категорию</div>

                </div>



                <div id="id_namecourse" class="info__wrapper">
                    <p class="caption_input">Название курса</p>
                    <input class="text_input" v-model="response.name" required>
                </div>

                <div id="id_info" v-if="response.info_add" class="info__wrapper" v-show="response.info_add">
                    <p class="caption_input">Общая информация</p>
                    <textarea rows="5" class="text_textarea" v-model="response.info" required></textarea>
                </div>

                <div id="id_address" class="info__wrapper">
                    <p class="caption_input">Место проведения</p>
                    <input class="text_input" v-model="response.address" required>
                </div>

                <div id="id_calendar" class="info__wrapper">
                    <p class="caption_input">Расписание</p>
                    <div class="data__wrapper">
                        <datepicker v-model="startdate" v-on:input="generateCalendar" monday-first placeholder="Начальная дата" :language="ru" format="dd.MM.yyyy" required></datepicker>
                        <p> - </p>
                        <datepicker v-model="enddate" v-on:input="generateCalendar" monday-first placeholder="Конечная дата" :language="ru" format="dd.MM.yyyy" required></datepicker>
                    </div>

                    <!--  календарь ffe6e6-->
                    <ul class="table_wrapper" v-if="calendarDays.length > 0">
                        <li class="table_row">
                            <div class="table_title"> Расписание </div>
                        </li>
                        <li class="table_row">
                            <div class="table_cell_caption">Пн</div>
                            <div class="table_cell_caption">Вт</div>
                            <div class="table_cell_caption">Ср</div>
                            <div class="table_cell_caption">Чт</div>
                            <div class="table_cell_caption">Пт</div>
                            <div class="table_cell_caption">Сб</div>
                            <div class="table_cell_caption">Вс</div>
                        </li>
                        <li class="table_row" v-for="(i, key_i) in calendarDays">
                            <div v-if="j != null" class="table_cell" v-for="(j, key_j) in i" v-on:click="dayindex=key_i*7+key_j" :class="{'active':activeDay(j)}">{{ j.number }} {{ months[j.months] }}</div>
                            <div v-else class="table_cell"></div>

                        </li>
                    </ul>

                    <!--  расписание занятий -->
                    <div v-if="dayindex !== 'undefined' && response['jsondays']" class="themes_day_wrapper">
                        <p v-if="response['jsondays'][dayindex] != null" class="caption_input">{{ response['jsondays'][dayindex]['number'] + ' ' + months[response['jsondays'][dayindex]['months']] + ' - ' + dayweek[response['jsondays'][dayindex]['day']] }}</p>

                        <div class="timetable_wrapper" v-for="(item, key) in response['jsondays'][dayindex]['questions']">
                            <p class="timetable_title">Занятие {{ key+1 }}</p>
                            <p class="timetable_delete" v-on:click="delMaterials(response['jsondays'][dayindex]['questions'], key)">Удалить</p>
                            <p class="timetable_item_name">Тема занятия</p>
                            <input class="timetable_input" v-model="item.title" required>
                            <p class="timetable_item_name">Время</p>
                            <input type="time" name="timestart" class="timetable_number" v-model="item.timestart" required>
                            <label for="timeend"> - </label>
                            <input type="time" name="timeend" class="timetable_number" v-model="item.timeend" required>
                            <p class="timetable_item_name">Спикер</p>
                            <input class="timetable_input" v-model="item.lecturer">
                            <p class="timetable_item_name">Рассматриваемые вопросы</p>
                            <textarea rows="5" class="timetable_input" v-model="item.sub_questions"></textarea>
                        </div>

                         <div v-if="response['jsondays'][dayindex].number != ''" class="button button_blue" v-on:click="response['jsondays'][dayindex]['questions'].push({ 'title': '', 'lecturer': '', 'timestart': '', 'timeend': '', 'sub_questions': '' })">Добавить занятие</div>

                    </div>
                </div>

                <div id="material" class="info__wrapper" v-show="response.materials_add">
                    <p class="caption_input">Материалы</p>
                    <div class="materials__wrapper" v-for="(material, key) in materials">
                        <p class="material_number">{{ key+1 }}.</p>
                        <input :class="material.status == 'default'? 'materials_input' : 'materials_input edit__input'" v-model="material.file_name" @input="updateStatusMaterial(key)" @change="updateStatusMaterial(key)" placeholder="Введите название файла" required>
                        <input :class="material.status == 'default'? 'materials_input' : 'materials_input edit__input'" v-model="material.url" @input="updateStatusMaterial(key)" @change="updateStatusMaterial(key)" placeholder="Введите ссылку" required>
                        <div class="url_preview">
                            <p>Предпросмотр: </p>
                            <a v-if="material.file_name != '' && material.url != ''" :href="material.url" target="_blank">{{ material.file_name }}</a>
                            <p v-if="material.status == 'default'" class="url_delete" v-on:click="modalDeleteMaterial(key)">Удалить</p>
                            <p v-if="material.status == 'update'" class="url_delete" v-on:click="requestMaterials('update', 'https://xn--c1aj1aj.xn--p1ai/api/content/update_course_file.php', { file_id: material.id, file_name: material.file_name, file_url: material.url }, key)">Cохранить</p>
                            <p v-if="material.status == 'add'" class="url_delete" v-on:click="requestMaterials('add', 'https://xn--c1aj1aj.xn--p1ai/api/content/add_course_file.php', { course_id: $route.params.id, file_name: material.file_name, file_url: material.url }, key)">Cохранить</p>
                        </div>
                    </div>
                    <button v-if="$route.params.id != 'newcours'" class="button button_blue" v-on:click='materials.push({"id": "", "course_id": $route.params.id, "file_name": "", "url": "", "status": "add"})' v-show="response.materials_add">Добавить</button>
                </div>

                <div id="id_faq" class="info__wrapper" v-show="response.faq_add">
                    <p class="caption_input">FAQ (Часто задаваемые вопросы)</p>
                    <div class="questions_wrapper" v-for="(q, key) in faq">
                        <p class="questions_number">Вопрос {{ key+1 }}</p>
                        <p v-if="q.status == 'default'" class="questions_delete" v-on:click="modalDeleteFAQ(key)">удалить</p>
                        <p v-if="q.status == 'update'" class="category_del" v-on:click="requestFAQ('update', 'https://xn--c1aj1aj.xn--p1ai/api/content/update_course_faq.php', { id: q.id, question: q.question, answer: q.answer }, key)">сохранить</p>
                        <p v-if="q.status == 'add'" class="category_del" v-on:click="requestFAQ('add', 'https://xn--c1aj1aj.xn--p1ai/api/content/add_course_faq.php', { question: q.question, answer: q.answer }, key)">сохранить</p>
                        <input class="questions_input" v-model="q.question" @input="updateStatusFAQ(key)" @change="updateStatusFAQ(key)" placeholder="Напишите вопрос">
                        <textarea rows="5" class="questions_textarea" v-model="q.answer" @input="updateStatusFAQ(key)" @change="updateStatusFAQ(key)" placeholder="Напишите ответ">{{ q.answer }}</textarea>
                    </div>
                    <div class="button button_blue" v-on:click='faq.push({id: "", question: "", answer: "", status: "add"})' v-show="response.faq_add">Добавить вопрос</div>
                </div>

            </form>

        </section>

        <section v-if="!loading" class="cours__nav_wrapper">
            <div class="menu__constructor">

                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_cstatus">{{ arr_status[response.status]}}</a>
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_category">Категория</a>
                    <input class="check" type="checkbox" checked disabled>
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_namecourse">Название курса</a>
                    <input class="check" type="checkbox" checked disabled>
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_info">Общая информация</a>
                    <input class="check" type="checkbox" v-on:click="response.info_add = checked(response.info_add)" :checked="response.info_add">
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_address">Место проведения</a>
                    <input class="check" type="checkbox" checked disabled>
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_calendar">Расписание</a>
                    <input class="check" type="checkbox" checked disabled>
                </div>
                <div class="constructor__item">
                    <p class="caption_constructor_item">Контакты</p>
                    <input class="check" type="checkbox" v-on:click="response.feedback_add = checked(response.feedback_add)" :checked="response.feedback_add">
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#material">Материалы</a>
                    <input class="check" type="checkbox" v-on:click="response.materials_add = checked(response.materials_add)" :checked="response.materials_add">
                </div>
                <div class="constructor__item">
                    <a class="caption_constructor_item" href="#id_faq">FAQ</a>
                    <input class="check" type="checkbox" v-on:click="response.faq_add = checked(response.faq_add)" :checked="response.faq_add">
                </div>
            </div>

            <button class="button button_white" v-on:click="buttonLink('Courses')">Вернуться к курсам</button>
            <button class="button button_white" v-on:click="buttonLink('Cours')">Просмотр</button>
            <button class="button button_white" v-on:click="modalDeleteCours">Удалить курс</button>
            <button class="button button_white" form="mainform">Сохранить</button>

        </section>

    </div>
</template>

<script>
    import LeftNav from '@/components/LeftNav'
    import Datepicker from 'vuejs-datepicker'
    import {ru} from 'vuejs-datepicker/dist/locale'

    export default {
        name: 'CoursEdit',
        data () {
            return {
                response: [],
                category: [],
                materials: [],
                questions: [],
                faq: [],
                calendarDays: [],
                error: false,
                loading: true,
                categoryedit: false,
                startdate: 'undefined',
                enddate: 'undefined',
                dayindex: 'undefined',
                ru: ru,
                dayweek: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                months: ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"],
                arr_status: ["Черновик", "Опубликовано"]
            }
        },
        components: {
            LeftNav: LeftNav,
            Datepicker
        },

        methods: {
            onChangeCategory(event) {
                this.response.category = event.target.value;
            },
            onChangStatus(event) {
                this.response.status = event.target.value;
            },
            checked(a){
                return a = !a;
            },
            delMaterials(arr, index){
                if (confirm("Вы собираетесь удалить Занятие " + (index + 1) + ": " + arr[index]['title'] + "?"))
                    arr.splice(index, 1)
            },
            buttonLink(url) {
                this.$router.push({name: url});
            },
            generateCalendar(){
                let alldays = 0;
                let daystemp = [];
                this.calendarDays = [];


                if(this.startdate != 'undefined' && this.enddate != 'undefined') {
                    alldays = Math.ceil(Math.abs(this.enddate.getTime() - this.startdate.getTime()) / (1000 * 3600 * 24));
                    alldays += 1;

                    let tmp = this.startdate.getDay();
                    if (tmp === 0)
                        tmp = 7
                    for(let i=1; i < tmp; i++)
                        daystemp.push(null)

                    let inWeek = new Date();
                        inWeek.setDate(this.startdate.getDate()-1);
                        inWeek.setMonth(this.startdate.getMonth());

                    for(let i=0; i < alldays; i++) {
                        inWeek.setDate(inWeek.getDate()+1);
                       // if (inWeek.getDay() != 0 && inWeek.getDay() != 6)
                        daystemp.push({"day": inWeek.getDay(), "months": inWeek.getMonth(), "number": inWeek.getDate(), 'questions': [] })
                    }

                    for(let i=0; i < daystemp.length; i++)
                        for(let j=0; j < this.response.jsondays.length; j++)
                            if (daystemp[i] != null && this.response.jsondays[j] !== null)
                                if (daystemp[i].months === this.response.jsondays[j].months && daystemp[i].number === this.response.jsondays[j].number){
                                    daystemp[i] = this.response.jsondays[j];
                                    break;
                                }
                    this.response.jsondays = daystemp;

                    tmp = this.enddate.getDay();
                    if (tmp === 0)
                        tmp = 7
                    for(let i=1; i <= 7-tmp; i++)
                        this.response.jsondays.push(null)

                    let count = 0;
                    for(let i=0; i < this.response.jsondays.length/7; i++){
                        this.calendarDays[i] = new Array();
                        for(let j=0; j < 7; j++){
                            this.calendarDays[i][j] = this.response.jsondays[count];
                            count += 1;
                        }
                    }
                }
            },
            activeDay(a){
                if (a !== null) return true
                else return false;
            },
            formrequestCours(){

                if (this.$route.params.id !== 'newcours') {
                    this.requestCours('update', 'https://xn--c1aj1aj.xn--p1ai/api/content/update_course.php', {
                        id: this.$route.params.id,
                        category: this.response.category,
                        status: this.response.status,
                        name: this.response.name,
                        info_add: this.response.info_add,
                        info: this.response.info,
                        address: this.response.address,
                        materials_add: this.response.materials_add,
                        feedback_add: this.response.feedback_add,
                        faq_add: this.response.faq_add,
                        startdate: this.startdate.toISOString().substring(0, 10),
                        enddate: this.enddate.toISOString().substring(0, 10),
                        jsondays: JSON.stringify(this.response.jsondays)
                    })
                } else {
                    this.requestCours('add', 'https://xn--c1aj1aj.xn--p1ai/api/content/add_course.php', {
                        category: this.response.category,
                        status: this.response.status,
                        name: this.response.name,
                        info_add: this.response.info_add,
                        info: this.response.info,
                        address: this.response.address,
                        materials_add: this.response.materials_add,
                        feedback_add: this.response.feedback_add,
                        faq_add: this.response.faq_add,
                        startdate: this.startdate.toISOString().substring(0, 10),
                        enddate: this.enddate.toISOString().substring(0, 10),
                        jsondays: JSON.stringify(this.response.jsondays)
                    })

                }
            },
            updateStatusCategory (index){
                if (this.category[index]["status"] == 'default')
                    this.$set(this.category[index], 'status', 'update')
            },
            updateStatusMaterial (index) {
                if (this.materials[index]["status"] == 'default')
                    this.$set(this.materials[index], 'status', 'update')
            },
            updateStatusFAQ (index) {
                if (this.faq[index]["status"] == 'default')
                    this.$set(this.faq[index], 'status', 'update')
            },
            modalDeleteCategory(key){
                if (confirm("Удалить категорию " + this.category[key]['name'] + "?"))
                    this.requestCategory('del', 'https://xn--c1aj1aj.xn--p1ai/api/content/delete_category.php', { id: this.category[key]['id'] }, key)
            },
            modalDeleteCours(){
                if (confirm("Вы собираетесь удалить " + this.response.category_name + " " + this.response.name + "?"))
                    this.requestCours('del', 'https://xn--c1aj1aj.xn--p1ai/api/content/delete_course.php', { id: this.$route.params.id })
            },
            modalDeleteMaterial(key){
                if (confirm("Вы собираетесь удалить ссылку на файл " + this.materials[key]['file_name'] + "?"))
                    this.requestMaterials('del', 'https://xn--c1aj1aj.xn--p1ai/api/content/delete_course_file.php', { id: this.materials[key]['id'] }, key)
            },
            modalDeleteFAQ(key){
                if (confirm("Вы собираетесь удалить вопрос " + this.faq[key]['question'] + "?"))
                    this.requestFAQ('del', 'https://xn--c1aj1aj.xn--p1ai/api/content/delete_course_faq.php', { id: this.faq[key]['id'] }, key)
            },
            async requestCategory(method, url, postData, index) {
                const qs = require('qs');
                let param;

                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  url,
                  method: 'POST',
                  data: param,
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                };

                try {
                    const {data, headers} = await this.$axios(options);
                    if (method == 'get'){
                        if (data !== ''){
                            this.category = data;
                            for(let a in this.category){
                                this.$set(this.category[a], 'status', 'default')
                        }

                        }

                    }
                    else if (method == 'del')
                        this.category.splice(index, 1)
                    else if (method == 'add'){
                        this.$set(this.category[index], 'status', 'default');
                        this.$set(this.category[index], 'id', data)
                    }
                    else if (method == 'update')
                        this.$set(this.category[index], 'status', 'default')

                    this.error = false;
                } catch (e) {
                    this.category = null;
                    console.log(e);
                    this.error = e;
                }
            },
            async requestMaterials(method, url, postData, index) {
                const qs = require('qs');
                let param;

                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  url,
                  method: 'POST',
                  data: param,
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                };

                try {
                    const {data, headers} = await this.$axios(options);
                    if (method == 'get'){
                        if (data !== ''){
                            this.materials = data;
                            for(let a in this.materials)
                                this.$set(this.materials[a], 'status', 'default')
                        }

                    }
                    else if (method == 'del')
                        this.materials.splice(index, 1)
                    else if (method == 'add'){
                        this.$set(this.materials[index], 'status', 'default')
                        this.$set(this.materials[index], 'id', data)
                    }
                    else if (method == 'update')
                        this.$set(this.materials[index], 'status', 'default')

                    this.error = false;
                } catch (e) {
                    this.category = null;
                    console.log(e);
                    this.error = e;
                }
            },
            async requestFAQ(method, url, postData, index) {
                const qs = require('qs');
                let param;

                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  url,
                  method: 'POST',
                  data: param,
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                };

                try {
                    const {data, headers} = await this.$axios(options);
                    if (method == 'get'){
                        if (data == '')
                            this.faq = [];
                        else
                            this.faq = data;
                        for(let a in this.faq)
                            this.$set(this.faq[a], 'status', 'default')
                    }
                    else if (method == 'del')
                        this.faq.splice(index, 1)
                    else if (method == 'add'){
                        this.$set(this.faq[index], 'status', 'default')
                        this.$set(this.faq[index], 'id', data)
                    }
                    else if (method == 'update')
                        this.$set(this.faq[index], 'status', 'default')

                    this.error = false;
                } catch (e) {
                    this.category = null;
                    console.log(e);
                    this.error = e;
                }
            },
            async requestCours(method, url, postData) {

                const qs = require('qs');
                let date;
                let param;
                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                  data: param,
                  url
                };

                try {
                   const { data, headers } = await this.$axios(options);

                   if (method == 'get'){
                        this.response = data;

                        if (this.response.jsondays == null && this.response != null) {
                            this.response.jsondays = [];
                            this.calendarDays = [];
                            this.startdate = 'undefined';
                            this.enddate = 'undefined';
                        }
                        else {
                            this.startdate = new Date(this.response.startdate);
                            this.enddate = new Date(this.response.enddate);
                            this.response.jsondays = JSON.parse(this.response.jsondays);

                            let count = 0;
                            for(let i=0; i < this.response.jsondays.length/7; i++){
                                this.calendarDays[i] = new Array();
                                for(let j=0; j < 7; j++){
                                    this.calendarDays[i][j] = this.response.jsondays[count];
                                    count += 1;
                                }
                            }

                        }

                    }
                    else if (method == 'del'){
                        if ( headers['api-ans'] == '555')
                            this.$router.push({name: 'Courses'});
                    }
                    else if (method == 'add'){

                        this.$router.push({name: "CoursEdit", params: {id: data} });

                        console.log('e');
                    }
                    else if (method == 'update')
                        if ( headers['api-ans'] == '555')
                            console.log('Сохранено успешно');

                    this.loading = false
                    this.error = false;
                } catch (e) {
                    this.response = null;
                    this.error = e;
                }
            },
        },
        mounted() {
            if (this.$route.params.id == "newcours"){
                this.calendarDays = [];

                this.startdate = new Date('1970-01-01');
                this.enddate = new Date('1970-01-01');

                this.$set(this.response, 'category', '1');
                this.$set(this.response, 'status', '0');
                this.$set(this.response, 'name', '');
                this.$set(this.response, 'info_add', false);
                this.$set(this.response, 'info', '');
                this.$set(this.response, 'address', '');
                this.$set(this.response, 'materials_add', false);
                this.$set(this.response, 'feedback_add', false);
                this.$set(this.response, 'faq_add', false);
                this.$set(this.response, 'jsondays', []);
                this.$set(this.response, 'materials', []);


                this.requestFAQ('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_course_faq.php');
                this.requestCategory('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_categories.php');
                this.loading = false;

                console.log(this.response);

            }
            else{
                this.requestCategory('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_categories.php');
                this.requestMaterials('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_course_files.php', { course_id: this.$route.params.id });
                this.requestFAQ('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_course_faq.php');
                this.requestCours('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_course.php', { id: this.$route.params.id });

            }

        }
    }

</script>

<style>
    .cours__content_edit {
        width: 54.5vw;
        margin-left: 3.95vw;
        font-size: 1.02vw;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        background: #FEFEFE;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    }
    .cours__nav_wrapper{
        display: flex;
        flex-direction: column;
        width: 24vw;
        padding-left: 3.5vw;
        position: fixed;
        right: 1vw;
    }
    .menu__constructor {
        background: #fefefe;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    }
    .constructor__item{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.1vw 1.4vw;
        border-bottom: 1px solid #eee;
    }
    .button{
        width: 13vw;
        margin: 1vw 0;
        padding: 1vw 0;
        text-align: center;
        font-weight: 400;
        font-size: 1.02vw;
        cursor: pointer;
    }
    .button_blue{
        background: #5294EE;
        border: 0;
        color: #FFFFFF;
        margin: 1vw auto;
    }
    .button_white{
        background: #F9F9F9;
        border: 1px solid #D9D9D9;
    }
    .rigth_block {
        width: 58.05vw;
        padding-left: 3.95vw 3.6vw 3.95vw 4vw;
    }
    .info__wrapper{
        width: 100%;
        position: relative;
        margin: 1vw 0 2vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1.4vw;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.17);
        border-radius: 6px;
    }
    .category_item{
        position: relative;
    }
    .category_del{
        position: absolute;
        top: 2.1vw;
        right: 1vw;
        cursor: pointer;
        color: #5294ee;
    }
    .category_but_edit{
        position: absolute;
        top: 1.3vw;
        right: 1.5vw;
        cursor: pointer;
    }
    .caption_input, .caption_constructor_item{
        font-weight: 500;
        font-size: 1.45vw;
        color: #4e4e4e;
    }
    .caption_constructor_item{
        font-size: 1.3vw;
        font-weight: 400;
    }
    .text_select, .text_input, .text_textarea,
    .materials_input, .vdp-datepicker input,
    .questions_input, .questions_textarea,
    .timetable_input, .timetable_number{
        margin-top: 1.1vw;
        padding: 0.8vw;
        font-size: 1.1vw;
        border: 1px solid #d4d4d4;
        line-height: 1.3vw;
        color: #909090;
        font-family: 'Gotham Pro';
    }
    .text_select:focus, .text_input:focus, .text_textarea:focus,
    .materials_input:focus, .vdp-datepicker input:focus,
    .questions_input:focus, .questions_textarea:focus,
    .timetable_input:focus, .timetable_number:focus {
        border: 1px solid rgba(82, 148, 238, 0.7); /* Рамка при получении фокуса */
    }
    .check{
       width: 1.9vw;
       height: 1.9vw;
       position: absolute;
       right: 1.1vw;
    }

    .text_select, .text_input, .text_textarea,
    .caption_input, .questions_input,
    .questions_textarea, .timetable_input,
    .themes_day_wrapper{
        width: 100%;
    }
    .text_select{
        background: #fff;
    }

    .materials__wrapper,
    .questions_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 1vw 0;
        width: 100%;
        padding: 1vw;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        border: 1px solid #ececec;
        }
    .material_number{
        flex: 1;
    }
    .materials_input{
        flex: 11;
        margin: 0 0 0 0.5vw;
    }

    .questions_wrapper{
        justify-content: space-between;

    }
    .questions_number{
        font-weight: 500;
    }
    .questions_delete{
        color: #5294ee;
        cursor: pointer;
    }
    .url_preview{
        width: 100%;
        padding: 0.8vw 0 0 2.5vw;
        display: flex;
        position: relative;
    }
    .url_delete, .timetable_delete{
        text-align: right;
        color: #5294ee;
        cursor: pointer;
        position: absolute;
        top: 1vw;
        right: 1vw;
    }
    .url_preview a{
        color: #5294ee;
        font-weight: 400;
        padding-left: 1vw;
        width: 60%;
    }

    .timetable_wrapper{
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
        border: 1px solid #ececec;
        border-radius: 4px;
        margin: 2vw 0;
        padding: 1vw;
        width: 100%;
        position: relative;
    }
    .timetable_title{
        font-size: 1.2vw;
        font-weight: 400;
        padding: 0.5vw 0 1.5vw 0;
    }
    .timetable_item_name{
        font-weight: 300;
    }
    .timetable_input{
        margin: 0.5vw 0 1.5vw 0;
    }
    .timetable_number{
        width: 9vw;
        margin: 0.5vw 0.5vw 1.5vw 0.5vw;
        padding: 0.5vw;
    }

    .edit__input{
        background: #fff5cf;
    }

</style>