<template>
    <div class="wrapper">
        <LeftNav />
        <section v-if="!errored && courses.length>0" class="content">
            <p class="pageTitle">Список курсов</p>

            <div class="find_block">
	            <input type="text" id="search" name="search" class="searchzone" placeholder="Введите название курса" v-model="searchtext" >
	            <button id="btn_search" class="find_button">Поиск</button>
        	</div>

            <div class="find_result_wripper">
            	<p v-if="searchtext !== ''" class="find_result">Найдено результатов по вашему запросу: {{ filteredList.length }} </p>
            </div>

            <div class="course__wrapper">
                <div v-for="course in filteredList" class="course_info">
                    <p class="course_name">{{ course.name }}</p>
                    <p class="title_bold">Дата проведения:</p>
                    <p>с {{ course.startdate }} по {{ course.enddate }}</p>
                    <p class="title_bold">Место проведения:</p>
                    <p>{{ course.address }}</p>
                    <button class="button_details" v-on:click='buttonLink("Cours", course.id)'>Подробнее</button>
                </div>
                <div class="course_info add_course">
                    <button class="button_details" v-on:click='addCours()'>Создать</button>
                </div>
            </div>

        </section>
        <section v-else="!errored" class="content">
            <p>{{ info_error }}</p>
        </section>
    </div>
</template>

<script>
    import LeftNav from '@/components/LeftNav'
    import qs from 'qs';

    export default {
        name: 'Courses',
        data () {
            return {
                errored: false,
                info_error: null,
                searchtext: '',
                courses: [],
            }
        },
        computed:{
            filteredList: function(){
                var search = this.searchtext.toLowerCase();
                return this.courses.filter(function (elem) {
                    if(search === '') return true;
                    else return elem.name.indexOf(search) > -1;
                })
            },
        },
        methods: {
            buttonLink(url, a) {
                this.$router.push({name: url, params: {id: a} });
            },

            addCours() {
                this.$router.push({name: "CoursEdit", params: {id: "newcours"} });

            },

            test() {

            let postData = {
                category: '1',
                status: '0',
                name: '',
                info_add: false,
                info: '',
                address: '',
                materials_add: false,
                feedback_add: false,
                faq_add: false,
                jsondays: []
            };


            let axiosConfig = {
                  headers: {
                      'Content-Type': 'application/json;',
                      at: 'd1fsdHDSsad62lh8ksdf'
                  }
                };
            const qs = require('qs');
            let url = 'https://xn--c1aj1aj.xn--p1ai/api/content/add_course.php'


            const options = {
              method: 'POST',
              headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
              data: qs.stringify(postData),
              url

            };
            this.$axios(options)
            .then(response => {
                console.log(response);
                this.$router.push({name: "CoursEdit", params: {id: response.data} });

              })
            }


        },
        mounted() {

            let postData = {
              limit: '100',
            };

            let axiosConfig = {
                  headers: {
                      'Content-Type': 'application/json;',
                      at: 'd1fsdHDSsad62lh8ksdf'
                  }
                };
            const qs = require('qs');
            let url = 'https://xn--c1aj1aj.xn--p1ai/api/content/get_courses.php'


            const options = {
              method: 'POST',
              headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
              data: qs.stringify(postData),
              url

            };
            this.$axios(options)
            .then(response => {
                this.courses = response.data;
                console.log(response);
                this.errored = false;
              })



           /* this.$axios
              .post('https://xn--c1aj1aj.xn--p1ai/api/content/get_courses.php?limit=2', {params: {postData}}  , axiosConfig)
              .then(response => {
                this.courses = response.data;
                console.log(response);
                this.errored = false;
              })
              .catch(error => {
                this.info_error = error;
                this.errored = true;
              });*/
        },
        components: {
            LeftNav: LeftNav
        }
    };

</script>


<style>
    .find_block {
        margin: 1.5vw 0;
        padding: 1.2vw;
        display: flex;
        flex-wrap: wrap;
        background: #FEFEFE;
    	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    }
    .find_block input {
        width: 78%;
        padding: 1vw;
        font-weight: 300;
    	color: #D5D5D5;
        font-size: 1.02vw;
        border: 1px solid #E7E7E7;
        border-radius: 60px 0 0 60px;
        background-color: #fff;
    }
    .find_button {
        width: 16%;
        margin: 0 auto 0 0;
    	font-size: 1.17vw;
        color: #fff;
        border: 0;
        border-radius: 0 60px 60px 0;
        background: url(../assets/img/icons/search.svg) no-repeat, #5294EE;
        background-position: 25% 50%;
        background-size: 1.46vw;
        cursor: pointer;
        padding-left: 3vw;
    }
    .find_button:hover {
        box-shadow: 2px 2px 15px #5294EE;
        border: 0;
    }
    .find_result_wripper{
    	display: flex;
    	justify-content: space-between;
    	margin: 1.5vw 0;
    	font-size: 1.02vw;
    }
    .find_result{
    	width: 70%;
    	color: #CECECE;
    }
    .find_result_wripper a{
    	cursor: pointer;
    }
    .course__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .course_info {
        width: 31%;
        font-size: 1.02vw;
        background: #FEFEFE;
        margin: 0 1.5vw 1.5vw 0;
        padding: 1.53vw;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
        line-height: 1.46vw;
        position: relative;
        min-height: 14vw;
    }

    .button_details{
        background: #5294EE !important;
        box-shadow: 2px 2px 15px #5294EE !important;
        border: 0;
        color: #FFFFFF;
        font-family: 'Gotham Pro';
        font-weight: 300;
        font-size: 1.02vw;
        border-radius: 1000px;
        width: 9vw;
        height: 3vw;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -4.5vw;;
        margin-top:  -1.5vw;
        display: none;
        cursor: pointer;
        line-height: 1.17vw;
    }

    .course_info:hover {
        background: rgba(0, 0, 0, 0.6);

    }
    .course_info:hover .button_details {
        display: block;
    }
    .add_course .button_details{
        background: #5294EE;
        display: block;
    }
    .course_name, .title_bold{
        font-weight: 500;
    }
    .title_bold{
        padding: 0.6vw 0 0.2vw 0;
    }
    .course_name{
         padding-bottom: 1.4vw;
    }
</style>

