<template >
    <div class="wrapper_cours" v-if="!loading">

        <LeftNav />

        <section v-if="!loading" class="header__cours">

            <div class="header__left_block">
                <div class="breadcrumb_course"><a href="">Главная &raquo; </a><router-link :to="{name: 'Courses'}">Образовательные курсы</router-link> &raquo; {{ response.name.substring(0, 30) + '...' }}</div>
                <p class="header_title">{{ response.name }}</p>
                <button type="button" class="btn_subscribe" v-on:click="requestSubscribedUsers('add', 'https://xn--c1aj1aj.xn--p1ai/api/content/add_course_subscribing.php', { user_id:'559415',  course_id: response.id, course_group: '1' })">Записаться на курс <br><span class="btn_subtitle">начинается {{ startdate.getDate() }} {{ months[startdate.getMonth()].substring(0, 3) }}.</span></button>
                <span class="type_cours">Программа повышения квалификации государственных гражданских служащих Липецкой области</span>
            </div>

                <ul class="header__rigth_block">
                    <li class="li1 icon_location">
                        Место проведения<br><span class="normal_text">{{ response.address }}</span>
                    </li>
                    <li class="li1 icon_date">
                        Дата проведения<br><span class="normal_text">{{ startdate.getDate() }} {{ months[startdate.getMonth()].substring(0, 3) }} {{ startdate.getFullYear() }} - {{ enddate.getDate() }} {{months[enddate.getMonth()].substring(0, 3) }} {{ startdate.getFullYear() }}</span>
                    </li>
                </ul>
        </section>

        <section v-if="!loading" class="nav__cours">
            <div class="nav__wrapper">
                <a class="nav_item active_url" href="#1">О курсе</a>
                <a class="nav_item" href="#2" v-smooth-scroll="{ duration: 1000, offset: -10 }">Расписание занятий</a>
                <a class="nav_item" href="#3" v-smooth-scroll="{ duration: 1000, offset: -10 }">Организаторы</a>
                <a class="nav_item" href="#4" v-smooth-scroll="{ duration: 1000, offset: -10 }">Участники</a>
                <a class="nav_item" href="#5" v-smooth-scroll="{ duration: 1000, offset: -10 }">Материалы</a>
                <a v-if="response.faq_add" class="nav_item" href="#6" v-smooth-scroll="{ duration: 1000, offset: -10 }">FAQ</a>
            </div>
        </section>

        <section id="1" v-if="!loading" class="about_cours">
            <div class="about_cours_wrapper">
                <p class="title_item">Информация о курсе</p>
                <p class="info_item">{{ response.info }}</p>
            </div>
        </section>

        <section id="2" v-if="!loading" class="timetable_cours">
            <div class="timetable_cours_wrapper">
                <p class="title_item">Расписание занятий</p>

                <div class="timetable_item" >
                     <p :id="'link' + key" class="timetable_item_date" v-if="days !== null" v-for="(days, key) in response.jsondays" :class="{'active_date': isActive == 'link' + key}" v-on:click="test('link' + key, key);dayindex=key" >
                        <span>{{ days.number }}</span>
                        <span class="timetable_item_month">{{months[days.months].substring(0, 3)}}</span>
                    </p>
                </div>


                <div v-if="dayindex !== 'undefined' && response['jsondays']" class="themes_day_wrapper">
                    <p class="caption_input">{{ response['jsondays'][dayindex]['number'] + ' ' + months[response['jsondays'][dayindex]['months']] + ' - ' + dayweek[response['jsondays'][dayindex]['day']] }}</p>

                    <div class="timetable_wrapper" v-for="(item, key) in response['jsondays'][dayindex]['questions']">
                        <div class="themes_employment">
                            <p>{{item.timestart}} - {{item.timeend}}</p>
                            <p class="title_question">{{ item.title }}</p>
                            <p v-if="item.sub_questions !== ''" class="sub_question">{{ item.sub_questions }}</p>
                            <p v-if="item.lecturer !== ''"class="lecturer">{{ item.lecturer }}</p>
                        </div>
                    </div>
                </div>


               <!-- <div v-if="days !== null" class="timetable_item" v-for="(days, key_i) in response.jsondays">
                    <p class="timetable_item_date">{{ days.number }}<span class="timetable_item_month">янв</span></p>

                    <div class="timetable_item_info">
                        <div v-if="key == 0" class="timetable_item_info" v-for="(day, key) in days.questions">
                            <p class="timetable_item_time">{{ day.timestart}} - {{ day.timestart }} </p>
                            <p class="timetable_item_name">{{ day.title }}</p>
                            <p v-if="day.lecturer !== ''" class="timetable_item_speaker">{{ day.lecturer }}</p>
                            <p v-if="day.sub_questions !== ''" class="sub_question">{{ item.sub_questions }}</p>
                        </div>
                    </div>

                    <div class="expand_list icon_arrow"></div>
                    <p class="item_border_bottom"></p>
                </div>
            -->
            </div>
        </section>


        <section id="3" v-if="!loading" class="organisators_cours">
            <div class="organisators_cours_wrapper">
                <p class="title_item">Организаторы</p>
                <div class="organisators_cours_item">
                    <img src="https://xn--c1aj1aj.xn--p1ai/courses/static/img/no-avatar.4b508f0.jpg" alt="">
                    <p class="organisators_item_name"> Иванов И.А. - <span class="organisators_item_position">консультант</span></p>
                    <p class="organisators_item_contact">
                        <span class="item_contact_info icon_mail_sm">ivanovia.@mail.ru</span>
                        <span class="item_contact_info icon_phone_sm">8 (800) 999-75-05</span>
                        <span class="item_contact_info icon_location_sm">Управление ЗАГС и архивов Липецкой области</span>
                    </p>
                </div>
                <div class="organisators_cours_item">
                    <img src="https://xn--c1aj1aj.xn--p1ai/courses/static/img/no-avatar.4b508f0.jpg" alt="">
                    <p class="organisators_item_name"> Иванов И.А. - <span class="organisators_item_position">консультант</span></p>
                    <p class="organisators_item_contact">
                        <span class="item_contact_info icon_mail_sm">ivanovia.@mail.ru</span>
                        <span class="item_contact_info icon_phone_sm">8 (800) 999-75-05</span>
                        <span class="item_contact_info icon_location_sm">Управление ЗАГС и архивов Липецкой области</span>
                    </p>

                </div>
            </div>
        </section>


        <section id="4" class="timetable_cours">
            <div class="timetable_cours_wrapper">
                <p class="title_item">Участники ({{response.subscribed_users.length}})</p>
                <div class="user_item" v-for="user in subscribed_users">
                    <div>
                        <p class="user_item_name"> {{ user.fio }} - <span class="organisators_item_position">{{ user.str }}</span></p>
                        <p class="user_item_contact">
                            <span v-if="user.email !== ''" class="item_contact_info icon_mail_sm">{{ user.email }}</span>
                            <span v-if="user.phone !== ''" class="item_contact_info icon_phone_sm">{{ user.phone }}</span>
                            <span v-if="user.parent_str !== ''"class="item_contact_info icon_location_sm">{{ user.parent_str }}</span>
                        </p>
                    </div>
                    <p class="item_border_bottom"></p>
                </div>
            <button class="btn_next_user">Показать еще</button>
            <p class="btn_collapse_user">Свернуть все карточки</p>
            </div>
        </section>


        <section id="5" v-if="response.materials_add" class="organisators_cours">
            <div class="organisators_cours_wrapper">
                <p class="title_item">Материалы</p>
                <div class="materials_card">
                    <div class="materials_item" v-for="material in response['materials']" v-on:click="openUrlMaterial(material.url)">
                        <img src="https://xn--c1aj1aj.xn--p1ai/courses/static/img/no-avatar.4b508f0.jpg" alt="">
                        {{ material.file }}
                    </div>
                </div>
            </div>
        </section>


        <section id="6" v-if="response.faq_add" class="timetable_cours" >
            <div class="timetable_cours_wrapper">
                <p class="title_item">Часто задаваемые вопросы</p>
                <div class="timetable_item" v-for="(question, key) in this.faq" @click="openEditor(question)">
                    <p class="faq_questions">{{ question.question }}</p>
                        <transition name="fade">
                            <p class="answer_text" v-show="question.showEdit">{{ question.answer }}</p>
                        </transition>
                    <p class="faq_border_bottom"></p>
                    <div class="expand_list icon_arrow"></div>
                </div>
            </div>
        </section>

        <section v-if="!loading" class="organisators_cours">
            <div class="organisators_cours_wrapper"></div>
        </section>


        <a id="go-top" title="Вверх" href="#app" style="display: inline;" v-smooth-scroll><img src="https://xn--c1aj1aj.xn--p1ai/singleportal/img/icons/go-up.svg" alt=""></a>




<!--

        <section v-if="!loading" class="cours__content">

            <p class="pageTitle">{{ response.category_name + ': ' + response.name }}</p>
            <div class="pageBreadcrumb"><router-link :to="{name: 'Courses'}">Список курсов</router-link> &gt; {{ response.name }}</div>

            <div class="cours__wrapper">

                <p class="cours__title">{{ response.name }}</p>
                <p class="text__info" v-if="response.info_add">{{ response.info }}</p>

                <p class="medium">Дата проведения:</p>
                <p>{{ startdate.getDate() }} {{months[startdate.getMonth()]}} - {{ enddate.getDate() }} {{months[enddate.getMonth()]}}</p>

                <p class="medium">Место проведения:</p>
                <p> {{ response.address }} </p>








                <ul class="table_wrapper" v-if="calendarDays.length > 0">
                    <li class="table_row">
                        <div class="table_title"> Расписание </div>
                    </li>
                    <li class="table_row">
                        <div class="table_cell_caption">Пн</div>
                        <div class="table_cell_caption">Вт</div>
                        <div class="table_cell_caption">Ср</div>
                        <div class="table_cell_caption">Чт</div>
                        <div class="table_cell_caption">Пт</div>
                        <div class="table_cell_caption">Сб</div>
                        <div class="table_cell_caption">Вс</div>
                    </li>
                    <li class="table_row" v-for="(i, key_i) in calendarDays">
                        <div v-if="j != null" class="table_cell" v-for="(j, key_j) in i" v-on:click="dayindex=key_i*7+key_j" :class="{'active':activeDay(j)}">{{ j.number }} {{ months[j.months] }}</div>
                        <div v-else class="table_cell"></div>
                    </li>
                </ul>







                <div v-if="dayindex !== 'undefined' && response['jsondays']" class="themes_day_wrapper">
                    <p v-if="response['jsondays'][dayindex]['number'] != '-'" class="caption_input">{{ response['jsondays'][dayindex]['number'] + ' ' + months[response['jsondays'][dayindex]['months']] + ' - ' + dayweek[response['jsondays'][dayindex]['day']] }}</p>

                    <div class="timetable_wrapper" v-for="(item, key) in response['jsondays'][dayindex]['questions']">
                        <div class="themes_employment">
                            <p>{{item.timestart}} - {{item.timeend}}</p>
                            <p class="title_question">{{ item.title }}</p>
                            <p v-if="item.sub_questions !== ''" class="sub_question">{{ item.sub_questions }}</p>
                            <p v-if="item.lecturer !== ''"class="lecturer">{{ item.lecturer }}</p>
                        </div>
                    </div>
                </div>

                <div class="course_subtitle" v-on:click='organizers_show = !organizers_show'>Контакты:</div>
                <div class="subscribed_users_list"  v-for="organiz in data.organizers" v-show="organizers_show">
                    <p class="subscribed_users_item">{{ organiz.name }}</p>
                    <div class="subscribed_users_item">
                        <p class="icon-mail">{{ organiz.mail }}</p>
                        <p class="subscrib_user_phone icon-phone">{{ organiz.phone }}</p>
                    </div>
                    <p class="subscribed_users_item">{{ organiz.company }}</p>
                </div>

                <div v-if="response.materials_add" class="course_subtitle" >
                    <p class="course_subtitle_header" v-on:click='materials_show = !materials_show'>Материалы:</p>
                    <div class="add_materials__list" v-show="materials_show">
                        <div class="materials_item" v-for="material in response['materials']"><p class="icon-folder"></p><a :href="material.url" target="_blank">{{ material.file }}</a></div>
                    </div>
                </div>

                <div v-if="this.response.faq_add" class="course_subtitle">
                    <p class="course_subtitle_header" >FAQ:</p>
                    <div class="question_wrapper" v-for="(question, key) in this.faq">
                        <div class="faq_title" @click="openEditor(question)">{{ key+1 }}. {{ question.question }}</div>
                        <div class="answer_text"v-show="question.showEdit">{{ question.answer }}</div>
                    </div>
                </div>

                <div class="course_subtitle">
                    <p class="course_subtitle_header" v-on:click='subscribed_users_show = !subscribed_users_show'>Участники ({{response.subscribed_users.length}}):</p>
                    <div class="subscribed_users_list"  v-for="user in subscribed_users" v-show="subscribed_users_show">
                        <p class="subscribed_users_item">{{user.fio}}</p>
                        <div class="subscribed_users_item">
                            <p v-if="user.email !== ''" class="icon-mail">{{user.email}}</p>
                            <p v-if="user.phone !== ''" class="subscrib_user_phone icon-phone">{{user.phone}}</p>
                        </div>
                        <p class="subscribed_users_item">{{user.str}}</p>
                    </div>
                </div>

            </div>

        </section>

        <section v-if="!loading" class="cours__nav">
            <button class="button button_white" v-on:click="buttonLink('Courses')">Вернуться к курсам</button>

            <button class="button button_blue" v-on:click="requestSubscribedUsers('add', 'https://xn--c1aj1aj.xn--p1ai/api/content/add_course_subscribing.php', { user_id:'559415',  course_id: response.id, course_group: '1' })">Записаться</button>



            <button class="button button_blue" v-on:click="buttonLink('CoursEdit')">Редактировать</button>
        </section>
    -->
    </div>
</template>

<script>
    import LeftNav from '@/components/LeftNav'
    import qs from "qs";

    export default {
        name: 'Cours',

        data () {
            return {
                isActive: '',
                response: [],
                loading: true,
                error: false,

                info: null,

                questions: [],
                subscribed_users: [],
                faq : [],

                calendarDays: [],
                dayindex: 'undefined',
                data: 'undefined',
                themes_day: false,
                lecturer_show: false,
                subscribed_users_show: false,
                organizers_show: false,
                materials_show: false,
                dayweek : ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                months : ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"],
            }
        },
        components: {
            LeftNav: LeftNav
        },

        methods: {
            test(key, index) {
                  if (key == ('link' + index)) this.isActive = 'link' + index
                else this.isActive = '';
      //  h3.not(e).classList.toggle("mystyle");

            },
            activeDay(a){
                if (a !== null) return true
                else return false;
            },
            buttonLink(url) {
                this.$router.push({name: url});
            },
            openEditor(info) {
              info.showEdit = !info.showEdit
            },

            async requestCours(url, postData) {
                const qs = require('qs');
                let date;
                let param;
                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                  data: param,
                  url
                };

                try {
                    const { data, headers } = await this.$axios(options);
                    this.response = data;
                    this.startdate = new Date(this.response.startdate);
                    this.enddate = new Date(this.response.enddate);
                    this.response.jsondays = JSON.parse(this.response.jsondays);

                    let count = 0;
                    for(let i=0; i < this.response.jsondays.length/7; i++){
                        this.calendarDays[i] = new Array();
                        for(let j=0; j < 7; j++){
                            this.calendarDays[i][j] = this.response.jsondays[count];
                            count += 1;
                        }
                    }
                    this.loading = false
                    this.error = false;
                } catch (e) {
                    this.response = null;
                    this.error = e;
                }
            },

            async requestFAQ(method, url, postData, index) {
                const qs = require('qs');
                let param;

                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  url,
                  method: 'POST',
                  data: param,
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                };

                try {
                    const {data, headers} = await this.$axios(options);
                    if (method == 'get'){
                        if (data == '')
                            this.faq = [];
                        else
                            this.faq = data;
                        for(let a in this.faq)
                            this.$set(this.faq[a], 'showEdit', false)
                    }

                    this.error = false;
                } catch (e) {
                    this.category = null;
                    console.log(e);
                    this.error = e;
                }
            },

            async requestSubscribedUsers(method, url, postData) {
                const qs = require('qs');
                let param;

                if (postData != 'undefined')
                    param = qs.stringify(postData)

                let options = {
                  url,
                  method: 'POST',
                  data: param,
                  headers: { 'Content-Type': 'application/x-www-form-urlencoded', at: 'd1fsdHDSsad62lh8ksdf' },
                };

                try {
                    const {data, headers} = await this.$axios(options);
                    if (method == 'get'){
                        this.subscribed_users = data;
                        console.log('get');
                    }
                    else if (method == 'del')
                        console.log('del');
                    else if (method == 'add'){
                        console.log('Вы записались на курс');
                    }

                    this.error = false;
                } catch (e) {
                    this.category = null;
                    console.log(e);
                    this.error = e;
                }
            },
            openUrlMaterial(url){
                console.log(url);
                window.open(url, '_blank');
            }
        },

        /*computed: {
            openUrlMaterial(url){
                window.open(url, '_blank');
            }
        },*/

        mounted() {
            this.requestCours('https://xn--c1aj1aj.xn--p1ai/api/content/get_course.php', { id: this.$route.params.id });
            this.requestSubscribedUsers('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_course_subscribing.php', { course_id: this.$route.params.id  });
            this.requestFAQ('get', 'https://xn--c1aj1aj.xn--p1ai/api/content/get_course_faq.php');
        }
    }
</script>

<style>


.wrapper_cours{
    width: 100%;
    position: relative;
    font-size: 0.8333333333333334vw;
}
.header__cours{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(103.88deg, #13294B 30.48%, #13294B 91.83%);
    padding: 2.6em 2.6em 3em 2.6em;
    color: #FFFFFF;
}
.header__left_block{
    width: 58%;
    padding: 0 2em 0 4em;
}
.header_title{
    font-weight: bold;
    font-size: 2.125em;
    line-height: 1.3em;
    margin: 1em 0;

}
.header__rigth_block {
    list-style-type: none;
    width: 27%;
    border-left: 1px solid #2C4C7D;
    padding: 2em 2em 0 2em;
}
.li1 {
    margin-bottom: 2em;
    padding-left: 2.6em;
    font-size: 1.1em;
    color: #82A0CE;
}
.icon_arrow{
    background: url('../assets/img/icons/arrow.svg') no-repeat left top;
    background-size: 1.5em;
}
.icon_location{
    background: url('../assets/img/icons/location.svg') no-repeat left top;
    background-size: 1.5em;
}
.icon_date{
    background: url('../assets/img/icons/date.svg') no-repeat left top;
    background-size: 1.5em;
}
.icon_mail_sm{
    background: url('../assets/img/icons/mail_sm.svg') no-repeat left center;
    background-size: 1.4em;
}
.icon_phone_sm{
    background: url('../assets/img/icons/phone_sm.svg') no-repeat left center;
    background-size: 1.4em;
}
.icon_location_sm{
    background: url('../assets/img/icons/location_sm.svg') no-repeat left center;
    background-size: 1em;
}
.normal_text{
    font-weight: 500;
    font-size: 1.15em;
    line-height: 150%;
    color: #FFFFFF;
}
.breadcrumb_course {
    font-size: 1.125em;
    line-height: 1.65em;
    color: #9599A9;
    width: 100%;
}
.breadcrumb_course a{
    color: #FFFFFF;
}
.btn_subscribe, .btn_next_user{
    display: inline-block;
    background: #5294EE;
    border-radius: 6px;
    font-family: Muller;
    padding: 0.6em 3.3em;
    border: 0;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.btn_subtitle{
    font-size: 0.83em;
}
.type_cours {
    display: inline-block;
    margin-left: 3em;
    width: 40%;
    vertical-align: top;
    font-size: 1.15em;
    line-height: 140%;
}
.nav__cours, .about_cours,
 .timetable_cours, .organisators_cours{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #CACACA;
}
.nav__wrapper{
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.nav_item{
    padding: 1em 0 1em 0;
    font-size: 1.25em;
    margin-right: 4em;
    line-height: 140%;
    color: #9599A9;
}
.nav_item a{
    color: #FFFFFF;
}
.active_url{
    font-weight: 500;
    color: #474B5A;
    border-bottom: 4px solid #5294EE;
}

.about_cours_wrapper,
.organisators_cours_wrapper,
.timetable_cours_wrapper{

    padding: 2em 0;
    margin-left: 20%;
    width: 80%;
}
.about_cours{
    border: 0;
}
.title_item{
    font-weight: bold;
    padding-bottom: 0.55em;
    font-size: 1.52em;
    line-height: 130%;
    color: #9599A9;
}
.info_item{
    width: 55%;
    font-size: 1.27em;
    line-height: 150%;
    color: #474B5A;
}

.timetable_cours{
    border: 0;
    background: #FFFFFF;
}
.timetable_item, .user_item{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    position: relative;
}
.timetable_item_date{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
    justify-content: center;
    font-weight: bold;
    font-size: 3.3em;
    width: 2.4em;
    height: 2.4em;
    color: #fff;
    background-color: #2c4771;
    border-radius: 10%;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    cursor: pointer;
}
.timetable_item_month{
    font-weight: normal;
    font-size: 0.6em;
    margin-top: -5px;
}
.timetable_item_info{
    font-size: 1.25em;
    line-height: 170%;
    color: #474B5A;
    width: 50%;
}
.timetable_item_time{
line-height: 150%;
}
.timetable_item_name{
    font-weight: bold;
    font-size: 1.3em;
}
.timetable_item_speaker{
    color: #9599A9;
}
.active_date{
    background-color: #ff6347;
}
.item_border_bottom,
.faq_border_bottom{
    width: 125%;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 2em;
    margin: 0 0 0 -25%;
}
.expand_list{
    width: 2em;
    height: 2em;
    position: absolute;
    right: 8em;
    top: 3.5em;
}
.organisators_cours{
    padding-top: 2em;
    border: 0;
}
.organisators_cours_wrapper{
    padding: 2em 0;
}
.organisators_cours_item,
.user_cours_item{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    position: relative;
    width: 90%;
    padding: 1em 0;
    margin-bottom: 1em;
}
.organisators_cours_item img{
    width: 6em;
    height: 6em;
    margin: auto 1em;
    border: 0;
    border-radius: 100%;
    position: absolute;
}

.organisators_item_name,
.user_item_name{
    padding: 1em 1em 1em 8em;
    font-weight: 500;
    font-size: 1.125em;
    color: #474B5A;
}

.organisators_item_contact,
.user_item_contact{
    padding: 1em 1em 1em 8em;
    font-size: 1.125em;
    line-height: 130%;
    color: #9599A9;
}
.item_contact_info{
    padding: 1em 2em;
}
.organisators_item_position{
    font-weight: normal;
}



.user_item_name{
    padding: 1em 0 0 0;
}
.user_item_contact{
    padding: 1em 0 0 0;
}
.btn_next_user{
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    margin: 2em 0;
}
.btn_collapse_user{
    margin-left: 3em;
    display: inline-block;
    font-size: 1.125em;
    color: #9599A9;
    cursor: pointer;
}

.materials_card{
    display: flex;
    justify-content: flex-start;
}
.materials_item{
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 130%;
    color: #474B5A;
    margin-right: 1em;
    cursor: pointer;
}

.materials_item img{
    width: 3em;
    height: 3em;
    margin-bottom: 1em;

}


.faq_questions{
    width: 80%;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 150%;
    color: #474B5A;
    cursor: pointer;
}
.answer_text{
    width: 80%;
    font-size: 1.1250em;
    line-height: 150%;
    font-weight: 300;
    color: #474B5A;
}
.faq_border_bottom{
    padding-bottom: 1em;
}


#go-top {
    position: fixed;
    bottom: 3em;
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(148.78deg, #5294EE 8.86%, #FF3DEC 94%);
    color: #fff;
    text-align: center;
    padding: 10px;
    left: 6em;
    cursor: pointer;
}



/*animation*/
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.8s, max-height 0.5s linear;
  max-height: 250px;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  transition: opacity 0.5s, max-height 0.5s linear;
  max-height: 0;
  opacity: 0;
}





















    .cours__content {
        width: 58.05vw;
        padding-left: 3.95vw;
        font-size: 1.02vw;
    }
    .cours__nav{
        display: flex;
        flex-direction: column;
        width: 24vw;
        padding-top: 4vw;
        padding-left: 6vw;
    }
    .button{
        width: 13vw;
        margin: 1vw 0;
        padding: 1vw 0;
        text-align: center;
        font-weight: 300;
        font-size: 1.02vw;
        cursor: pointer;
    }
    .button_blue{
        background: #5294EE;
        border: 0;
        color: #FFFFFF;
    }
    .button_white{
        background: #F9F9F9;
        border: 1px solid #D9D9D9;
    }

    .rigth_block {
        width: 58.05vw;
        padding-left: 3.95vw 3.6vw 3.95vw 4vw;
    }
    .cours__wrapper{
        display: flex;
        flex-direction: column;
        font-size: 1.02vw;
        padding: 3vw;
        background: #FEFEFE;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    }
    .cours__title{
        font-size: 1.317vw;
        font-weight: 500;
        line-height: 1.68vw;
    }
    .text__info{
        padding: 1vw 0;
        line-height: 1.3vw;
    }



    .medium,
    .font_medium,
    .title_question,
    .lecturer, .course_subtitle_header{
        font-weight: 500;
    }
    .medium{
        padding: 1.5vw 0 0.2vw 0;
    }

    .course_subtitle{
        margin: 1vw 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        font-weight: 400;
        padding: 1vw;
        cursor: pointer;
    }

    .bold{
        font-weight: bold;
        padding: 1.1vw 0 0.2vw 0;
    }
    .themes_employment{
        display: flex;
        flex-direction: column;
        line-height: 1.5vw;
        margin: 1vw 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
        border-radius: 0px;
        padding: 1vw;
    }
    .employment__titile_wripper{
        display: flex;
        justify-content: space-between;
        margin: 0.8vw 0;
    }
    .question__employment{
        width: 80%;
    }
   .sub_question{
        padding: 0.45vw 0;
        white-space: pre-wrap;
        font-size: 0.85vw;
        line-height: 1.3vw;
   }

   .lecturer__list,
   .subscribed_users_list,
   .add_materials__list{
        padding: 0.5vw 0;
        margin: 0.5vw 0;
        cursor: pointer;
   }
   .lecturer__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.02vw;
        line-height: 1.46vw;
        margin: 0.8vw 0;
        width: 100%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
        border-radius: 15px 0px 0px 0px;
   }
   .lecturer__item img{
        width: 7%;
    }
    .lecturer_name{
        font-weight: 500;
        width: 40%;
    }
    .lecturer_position{
        width: 47%;
    }

    .subscribed_users_item{
        display: flex;
        padding: 0.24vw 0;
    }
    .subscrib_user_phone{
        margin-left: 3vw;
    }
    .icon-mail:before {
        content: "";
        background:url('../assets/img/icons/mail_sm.svg') no-repeat;
        padding: 0 2vw 0.3vw 0;
        background-size: 1.3vw 1.3vw;
    }
    .icon-phone:before {
        content: "";
        background:url('../assets/img/icons/phone_sm.svg') no-repeat;
        padding: 0 2vw 0.3vw 0;
        background-size: 1.3vw 1.3vw;
    }
    .icon-folder:before {
        content: "";
        background:url('../assets/img/icons/folder.svg') no-repeat;
        padding: 0.31vw 2.5vw 0.31vw 0;
        background-size: 1.83vw 1.83vw;
    }


   .add_materials__list{
        display: flex;
        flex-wrap: wrap;
   }

    .question_wrapper{
        padding: 0.25vw 0;
        line-height: 1.4vw;
    }
    .faq_title{
        padding: 0.5vw 0;
        font-weight: 400;
        cursor: pointer;
    }


</style>