<template>

    <section class="header">
        <p class="breadcrumbs"><a href="/">Главная » </a>Новости</p>
        <div class="header_caption">
            Новости портала
        </div>

    </section>
	
</template>

<script>

export default {
  data () {
    return {

    }
  },
    methods: {

    },

}
</script>

<style>
    .header{
        background: #F0F0F0;;
        padding: 2.2em 0 2.2em 20%;
        border-bottom: 1px solid #CACACA;
    }
    .breadcrumbs{
        font-size: 1.125em;
        padding-bottom: 1em;
    }
    .breadcrumbs a{
        color: #9599a9;
        font-weight: 400;
    }
    .header_caption{
        font-weight: bold;
        font-size: 1.88em;
        line-height: 1.3em;
    }
    
</style>