<template>
	<nav class="menu">

		<div class="user_title" @click="">
			<img :src='getImgUrl("assets/img/userphoto/no-avatar.jpg")' class="user_img">
			Иванов Иван Иванович
		</div>
        <p class="item_subdivision">Областное бюджетное учреждение "Информационно-технический центр"</p>
        <div class="wrapper__menu_items">
            <a class="menu_item" href="/">Главная</a>
            <a class="menu_item" href="/allnews/">Новости</a>
            <a class="menu_item" href="/addressbook/">Адресная книга</a>
            <a class="menu_item item_point" href="#">Список курсов</a>
            <a class="menu_item" href="/indicator/">Инфосистема</a>
            <a class="menu_item" href="/gisservice/">ГИС</a>
        </div>
        <div class="wrapper__menu_items">
            <a class="menu_item" href="/admin/">Администрирование</a>
        </div>

	</nav>
</template>

<script>
    export default {
        name: 'LeftNav',
        data () {
            return {

            }
        },
        methods: {
            getImgUrl(pic) {
                return require('../' + pic);
            },
        },
    }
</script>

<style>
    .menu {
        top: 0;
        left: 0;
        /*bottom: 0;*/
        width: 17%;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 1.11em;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        z-index: 1000;
       /* min-height: 100%;*/
    }
    .user_title {
        display: flex;
        align-items: center;
        padding: 1.3em 1em;
        color: #474B5A;
        font-weight: 500;
    }
    .user_img {
        width: 30%;
        border: 0;
        border-radius: 100%;
        margin-right: 1em;
    }
    .item_subdivision{
        font-size: 0.88em;
        line-height: 1.3em;
        color: #ACAEB4;
        padding: 1.3em 1em;
        border-top: 1px solid #CACACA;
    }
    .wrapper__menu_items{
        padding: 1vw 0 2vw;
        border-top: 1px solid #CACACA;
    }
    .menu_item {
        padding: 1em 1.3em;
        display: block;
    }
    .menu_item:not(.item_point):not(.sub_m):hover {
        border-right: 4px solid #D1D1D1;
        background: #FCFCFC;
    }
    .item_point {
        background-color: #fff;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08);
        border-right: solid 0.3vmax #5294EE;
    }

</style>