<template>

    <section >
        <Header />
        <LeftNav />
        <div class="wrapperOpenNews">
            
            <div class="news_main">
                <p class="total_news">11 ноя. 2020 <span class="news_autor">Автор: Иванов Иван Иванович</span></p>
                <img src="https://исгу.рф/materials/photo/37/1.jpg" alt="">
                <div class="news_text">Следует отметить, что глубокий уровень погружения требует анализа новых предложений. Имеется спорная точка зрения, гласящая примерно следующее: явные признаки победы институционализации функционально разнесены на независимые элементы. И нет сомнений, что предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть ограничены исключительно образом мышления. 
    Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня является качественно новой ступенью системы массового участия. Внезапно, базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, перспективное планирование влечет за собой процесс внедрения и модернизации инновационных.
                </div>
            </div>

            <div class="last_news">
                <p class="title">Другие новости</p>
                <div v-for="key in 5" class="last_news_item">
                    <p class="date">11 ноя.</p>
                    <p class="caption">Управление госслужбы и кадровой работы приглашает желающих на занятия йогой...</p>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Header from '@/components/Header'
    import LeftNav from '@/components/LeftNav'

export default {
    name: 'AllNews',
    data () {
        return {
            news: ['123', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323', '123', '2323']
        }
    },
    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
    },
    components: {
        Header: Header,
        LeftNav: LeftNav
    }
}
</script>

<style>

    .wrapperOpenNews{
        padding-left: 20%;
        display: flex;
        justify-content: space-between;
    }
    .news_main{
        width: 53%;
        font-size: 1.11em;
    }
    .news_main .total_news{
        display: flex;
        justify-content: space-between;
        padding: 1.3em 0;
        color: #9599A9;
    }
    .news_text{
        line-height: 1.7em;
        color: #474B5A;
        padding: 1.3em 0;
    }
    .last_news{
        width: 42%;
        padding: 0 4em;
    }
    .last_news .title{
        font-size: 1.46em;
        font-weight: bold;
        margin: 1.3em 0 1em;
    }
    .last_news_item{
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 1em 1.25em;
        margin: 0.5em 0;
        cursor: pointer;
    }
    .last_news_item .caption{
        line-height: 1.5em;
    }
    .last_news_item .date{
        padding-bottom: .6em;
        color: #9599A9;
    }
    
</style>



