<template>

    <section >
        <Header />
        <LeftNav />
        <div class="profile_wrapper">
            
            <div class="profile_photo">
                <img src="https://исгу.рф/materials/photo/37/1.jpg" alt="">
                <button class="edit_contact" type="button">Редактировать</button>
            </div>

            <div class="profile_info_wrapper">
                <p class="profile_name">Иванов Иван Иванович</p>
                <p class="profile_subdivision">Областное бюджетное учреждение "Информационно-технический центр"</p>


                <ul class="profile_info">
                    <li class="title">
                        <span class="title_text" :class="{'active': isActive == 1}" @click="isActive = 1">Информация о работе</span>
                        <span class="title_text" :class="{'active': isActive == 2}" @click="isActive = 2">Общая информация</span>
                        <span class="title_text" :class="{'active': isActive == 3}" @click="isActive = 3">Контакты</span>
                    </li>
                    <li v-show="isActive == 1" class="info_text"> 
                        <p>Рабочий день: <span class="black_text">8:30 - 17:30</span></p>
                        <p>Адрес: <span class="black_text">Не указано</span></p>
                        <p>Этаж: <span class="black_text">1</span></p>
                        <p>Кабинет: <span class="black_text">110</span></p>
                        <p>Должность: <span class="black_text">Главный специалист</span></p>
                    </li>
                    <li v-show="isActive == 2" class="info_text">
                        <p>День рождения: <span class="black_text">10 июня</span></p>
                        <p>Возраст: <span class="black_text">21</span></p>
                    </li>
                    <li v-show="isActive == 3" class="qr_wrapper">
                  
                        <img class="qr_img" :src='getImgUrl("assets/img/qr.png")'>
                    
                        <div class="qr_info">
                            <p>Email: <span class="black_text">laterpost@yandex.ru</span></p>
                            <p>Рабочий номер: <span class="black_text">Нет данных</span></p>
                            <p>Личный номер: <span class="black_text">+ 7(903) 028-7888</span></p>
                            <button class="save_contact" type="button">Скачать контакт</button>
                        </div>

                    </li>
                </ul>




            </div>
        </div>
    </section>

</template>

<script>
    import Header from '@/components/Header'
    import LeftNav from '@/components/LeftNav'

export default {
    name: 'Profile',
    data () {
        return {
            isActive: 1
        }
    },
    methods: {
        getImgUrl(pic) {
            return require('../' + pic);
        },

    },
    components: {
        Header: Header,
        LeftNav: LeftNav
    }
}
</script>

<style>


    .profile_wrapper{
        padding-left: 20%;
        padding-top: 3em;
        display: flex;
        font-size: 1.1111em;
    }
    .profile_photo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile_photo img{
        border: 0;
        border-radius: 100%;
        width: 13em;
        height: 13em;
    }
    .profile_info_wrapper{
        width: 75%;
        color: rgba(71, 75, 90, 0.5);
        padding-left: 3em;
    }
    .profile_name{
        font-size: 1.3333em;
        font-weight: bold;
        color: #474B5A;
        padding: 0.5em 0;
    }
    .profile_subdivision{
        font-size: 0.9em;
        line-height: 1.4em;
        width: 45%;
    }
    .profile_info{
        width: 100%;
        margin-top: 3em;
        list-style: none;
    }
    .profile_info .title{
        border-bottom: 1px solid #CACACA;
        display: flex;
    }
    .profile_info .title_text{
        padding: 1.3em 0;
        margin-right: 3em;
        font-weight: 500;
        cursor: pointer;
    }
    .active {
        color: #474B5A;
        border-bottom: 4px solid #5294EE;
    }
    .info_text {
        padding-top: 1.3em;
        line-height: 1.7em;
    }
    .black_text{
        color: #000;
    }
    .qr_wrapper{
        padding-top: 1.3em;
        display: flex;
    }
    .qr_img{
        width: 16%;
        font-size: 0;
    }
    .qr_info{
        padding-left: 1.5em;
        line-height: 1.8em;
        display: flex;
        flex-direction: column;
    }



    /* кнопки */
    .edit_contact, .save_contact {
        padding: 0.48em 0;
        border: 1px solid #D0D0D0;
        border-radius: 8px;
        background: inherit;
        font-size: 1.11em;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    .edit_contact{
        width: 90%;
        margin-top: 1em;
    }
    .save_contact {
        margin-top: auto;
        width: fit-content;
        padding: 0.48em 2em;
    }


    

</style>



