<template>

    <section class="welcome_wrapper">
        
        <div class="main_page_top">
            <div class="top_user_wrapper">
                <img class="top_user_img" src="https://xn--c1aj1aj.xn--p1ai/materials/userphoto/875467.jpg">
                <p class="user_name">
                     Киреев<br> Роман Александрович
                </p>
                <p class="user_department">
                    Областное бюджетное учреждение «Информационно-техническтй центр»
                </p>
                <button type="button" class="btn_logaut">
                    Выход 
                    <img src="https://xn--c1aj1aj.xn--p1ai/singleportal/img/icons/exit.svg" alt="">
                </button>
            </div>
        </div>

        <div class="services_wrapper">
            <p>
                <span class="services_title title_active">Сервисы</span>
                <span class="services_title">Другие сервисы</span>
            </p>
            
            <div class="services_list">
                <div v-for="key in 8" class="services_item">
                    <a href="#"><img src="https://xn--c1aj1aj.xn--p1ai/logo/adrbook.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="news_wrapper">
            <p class="news_title title_active">События</p>
            <div class="news_list">
                <div v-for="key in 6" class="news_item">
                    <p class="news_date">11 ноя.</p>
                    <p class="news_caption">Управление госслужбы и кадровой работы приглашает желающих на занятия калланетикой</p>
                </div>
            </div>
        </div>
        
    </section>
	
</template>

<script>

export default {
  name: 'Welcome',
  data () {
    return {

    }
  },
    methods: {

    },

}
</script>

<style>
    .welcome_wrapper{
        background: #EDF3F7;
    }
    .main_page_top{
        font-size: 1em;
        box-shadow: 0em .5em 0.66em #D4E1EA;
    }
    .top_user_wrapper,
    .services_wrapper,
    .news_wrapper{
        width: 75%;
        display: flex;
        background: inherit;
    }
    .top_user_wrapper{
        margin: 0 auto;
        padding: 0.88em 0;
    }
    .top_user_img {
        width: 3.5em;
        height: 3.5em;
        border-radius: 100%;
        margin: auto 0;
    }
    .user_name, .user_department{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1em;
        width: 25%;
        line-height: 1.2778em;
        border-right: 1px solid #86ADC7;
        font-weight: 500;
    }
    .user_department{
        color: rgba(71, 75, 90, 0.5);
        border: 0;
        font-weight: normal;
        width: 30%;
    }
    .btn_logaut{
        display: flex;
        align-self: center;
        justify-content: center;
        padding: .5em 2.125em;
        border: 1px solid #D0D0D0;
        border-radius: .3333em;
        font-size: 1.11em;
        color: rgba(71, 75, 90, 0.5);
        background-color: inherit;
        margin-left: auto;
        font-family: inherit
    }
    .btn_logaut img{
        width: 33%;
        margin: auto 0;
        padding-left: 0.5em;
    }

    /* сервисиы */
    .services_wrapper,
    .news_wrapper{
        margin: 0 auto;
        margin-top: 3em;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .services_title,
    .news_title{
        font-weight: bold;
        font-size: 1.7em;
        line-height: 1.5em;
        padding-right: 2em;
        color: rgba(71, 75, 90, 0.5);
    }
    .title_active{
        color: #474B5A;
    }
    .services_list,
    .news_list
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.43em;
    }
    .services_item{
        width: calc(20% - 0.86em);
        margin: 0.43em;
        height: 10em;
        box-shadow: 9px 9px 12px #D4E1EA, -9px -9px 12px rgba(255, 255, 255, 0.5);
        border-radius: 7px;
    }
    .services_item a{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services_item img{
        width: 70%;
    }

    /* новости */
    .news_item{
        width: calc(33.333% - 0.86em);
        margin: 0.43em;
        height: 16.4em;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://xn--c1aj1aj.xn--p1ai/materials/photo/37/1.jpg') center center / cover no-repeat;
        border-radius: 7px;
        color: #fff;
        padding-left: 1.27em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .news_date{
        font-size: 0.88889em;
    }
    .news_caption{
        font-weight: bold;
        font-size: 1.111em;
        line-height: 1.3em;
        padding: 1em 0 1.3em;
        width: 80%;
    }

    /*cursor*/
    .btn_logaut, .news_item, .services_title{
        cursor: pointer;
    }
    
</style>