<template>
  <div id="app">

    <router-view/>

  </div>
</template>

<script>
import Courses from "./components/Courses"
export default {
  name: 'app',

  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style>
@import "./assets/fonts/stylesheet.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Muller';
  font-weight: normal;
  font-size: 0.9375vw;
  color: #474B5A;
  background: #f9f9f9;
}
img {
  width: 100%;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
button,
input,
textarea{
  outline: none;
  resize: none;
  font-family: 'Muller';
}
.wrapper {
  display: flex;
  padding-top: 1.976vw;
}

.content {
    width: 76vw;
    padding-left: 3.95vw;
}
.pageTitle {
    font-size: 1.317vw;
    font-weight: 500;
    color: #000000;
    width: 100%;
}

.pageBreadcrumb {
    margin: 1vw 0;
    font-size: 0.878vw;
    color: #c4c4c4;
    width: 100%;
}
.pageBreadcrumb a{
    color: #5294EE;
}

/*pagination*/
    .pagination{
        list-style: none;
        display: flex;
    }
    .page-item{
        cursor: pointer;
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .page-link{
        padding: 1em;
        display: block;
    }
    .pagination li.page-number {
        color: #9599A9;
    }
    .pagination li.active{
        background: #5294EE;
        color: #FFFFFF;
        border-radius: 6px;
    }
    .pagination li.first,
    .pagination li.last,
    .pagination li.previous,
    .pagination li.next{
        display: none;
    }

</style>
